<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.pku.PKUToolMan.dao.OrderDAO">
    <!-- 创建新订单 -->
    <insert id="createOrder" parameterType="Order" useGeneratedKeys="true" keyProperty="orderId">
        insert into t_order
        values (null,#{userId},#{toolManId},#{place},#{destination},#{startTime},#{endTime},#{description},#{state})
    </insert>

    <!--根据userId查找该用户发起的和接收的所有订单-->
    <select id="getMyOrderList" parameterType="int" resultType="Order">
        select orderId,userId,toolManId,place,destination,startTime,endTime,description,state from t_order
        where userId=#{id} or toolManId=#{id}
    </select>


</mapper>